@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --primary-col:#97D7DA;
    --off-white:;
    --bg-col:#ECFDF5;
}
body{
    font-family: Poppins,sans-serif;
    /*background-color:var(--primary-col);*/
}
h1{
    text-align: center;
    
}
   .bg{
       background-color: var(--bg-col);
   }
.navigation {
        background-color: #97D7DA;
        color: white;
        padding:    2rem 0.5rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: auto;
        height: 70%;
    }
.link {
    margin: 2rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: rgb(0, 6, 10);
    text-align: center;
}

.link-primary {
    background-color:var(--primary-col);
    border-radius: 0.5rem;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    
}



.no-bullets{
list-style:none;
padding-inline-start: 0px;
}
.list-inline{
    display: inline;
}
.picz{
    padding: 2 rem;
    padding-top: 5rem;
}
.footer{
    background-color:var(--primary-col);
    color: white;
    padding:    2rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: auto;
    height: 70%;
    text-align: center;
}
.footer-header{
    font-size:25px;
    font-weight: bold;
    text-align: center;
}
.container{
    padding :2rem 1rem;
text-align: center;
}
.container-center{
    text-align: center;
}


.picz .s-picz {
    max-width: 80%;
    width: 500px;
    display: block;
    margin: auto;
}

.picz .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}
.link .link-primary{
    display:inline;
}
.footer .ul .li{
    display: inline;
}